h1 {
    font-size: 3rem;
    color: white;
    text-align: left;
    padding: 20px;
    text-shadow: 0px 0px 2px beige;
    /* border-shadow: 0px 0px 0px white; */
    justify-content: centre;

}
#searhtag {
    width: max-content;
}